[2016-02-06 11:21] pherterich opened #1 "First initial meeting"
**Date**: 19 Feb 2016
**Time**: 17:00 CET (UTC +01)
**Location**: CERN Restaurant 1 (the "IKEA" section), moving to a meeting room if needed
**Session format**: [INTRO](https://cernstudygroup.github.io/presentations/01-intro) + Hacky Hour

---

Just come if you're interested and want to have some fun. Let us know what you'd like to share or learn by filling this short survey beforehand (especially

[2016-02-09 10:44] betatim opened #7 "Broken links in template"
Not sure what causes this but links in the "Howto be notified" section are broken `http://cernstudygroup.github.io/%7B%7B%20site.github.repository_url%20%7D%7D`. Seems like the template isn't being replaced by the actual URL?

[2016-02-09 11:24] adavidzh commented on #7
The template driving this is https://github.com/CERNStudyGroup/cernstudygroup.github.io/blob/master/_data/en.yml#L26

I poked around and the only thing I found was that this seems to be an automatic variable: https://github.com/jekyll/jekyll-help/issues/5#issuecomment-39033862.

The `{{ site.github.repository_url }}` seems to not be properly interpreted. Could this be a bug upstream?

[2016-02-09 11:46] betatim commented on #7
Seems so fundamental that I also guess it is upstream, but then https://github.com/UofTCoders/studyGroup seems to work fine :-/

[2016-02-09 12:00] adavidzh commented on #7
`UofTCoders` does not have a `_data/en.yml`. Do you know where is their link coming from?
(Github search is really bad: searching for `repository` in our repo yields zero results.)

[2016-02-09 12:01] betatim commented on #7
Upstream discussion in mozillascience/studyGroup#47

[2016-02-09 13:47] betatim commented on #1
Do you want to start so soon? I think it would be good to have a topic and speaker lined up for the first meeting (maybe "How to use github to take part in planning this meetup"?) Maybe survey people via an email to all the lists as to what they'd like to hear about. If we collect a lot of people in a room with little structure it might just be silence-of-the-masses or someone monopolising the mic

[2016-02-09 14:01] ibab commented on #1
Yeah, I'm also for careful preparation in advance.
But if the others would like to have a more informal planning meeting with only a few people, I'm not against it.
It would be nice to have a plan in case a lot of people shop up, like a presentation on how to use git and
Github.

[2016-02-09 15:30] RaoOfPhysics commented on #1
@betatim: The reason we didn't start earlier was because I procrastinated endlessly on this. I think it's good for us to set a start date, even if it seems too close to today.

In any case, as I understand it, the Study Groups are not meant to follow the "speaker+audience" format, but are supposed to be a place for people to come together and work on their respective projects, getting help from ot

[2016-02-09 16:08] auremoser opened #9 "Welcome to Study Groups!"
Hi there CERN!
Thanks for your interest in the [Mozilla Science Lab](https://mozillascience.org/), it's great to hear you're building a [Study Group](https://github.com/mozillascience/studygroup).

My name is [Aurelia](https://mozillascience.org/u/auremoser) and we met at the WOW event in Berlin, but I usually log a "welcome" issue in forked repos, and I just wanted to introduce myself as a resour

[2016-02-09 17:08] auremoser commented on #9
Also, we have a Study Group call this Friday, at 11AM EST. If that works for you, we would love for you to join the call and meet other study groupers globally.

Here's the etherpad: https://public.etherpad-mozilla.org/p/mozilla-studygroup-leads-february-2016

Hope to see you there!

[2016-02-10 09:33] betatim opened #10 "Github org logo"
Calling all artists: the github organisation needs a logo!

Any ideas?

[2016-02-10 09:50] betatim commented on #1
I was thinking the first session would be [work-along](https://mozillascience.github.io/studyGroupHandbook/event-types.html#workalong) style. (Tells you about my biases :smile_cat:)

Personally no time slot on that day works as I will be away from CERN, it was more a general comment that Friday afternoon is usually when people are thinking about the weekend or have already left. So I was thinking

[2016-02-10 11:23] RaoOfPhysics commented on #1
You're spot on, @betatim. We (you, @ibab, @pherterich and I?) should have a chat later this week or early next week (Vidyo participation welcome, @ibab!) to iron details out.

[2016-02-10 14:14] ibab commented on #1
Yes, I can join over Vidyo!

[2016-02-10 14:17] seneubert commented on #1
If there is Vidyo (and/or slack) I would join as well. Just for an hour, because Friday evening there are serious social obligations to fulfil ;)

[2016-02-10 14:27] betatim commented on #1
I'd discourage vidyo/remote for the actual meeting. Though I think here we
have moved on to discussing the meeting zero to plan meeting one for which
remote is fine.

On Wed, Feb 10, 2016 at 3:17 PM Sebastian Neubert notifications@github.com
wrote:

[2016-02-10 15:32] RaoOfPhysics commented on #1
@betatim is right -- I meant Vidyo for the planning meeting. Given that the actually Study Group sessions will be in R1 (at least the first) it would be good if people could be there in person.

However, perhaps we could use Gitter for remote participants? :D

[2016-02-10 15:46] RaoOfPhysics commented on #1
[![Join the chat at https://gitter.im/CERNStudyGroup/cernstudygroup.github.io](https://badges.gitter.im/CERNStudyGroup/cernstudygroup.github.io.svg)](https://gitter.im/CERNStudyGroup/cernstudygroup.github.io)

[2016-02-10 16:05] RaoOfPhysics opened #13 "Gitter Sidecar not working well"
So, it looks like the Sidecar is actually overlapping with the webpage's elements. Also the "close" button doesn't work.

Can someone debug locally? @ibab, @betatim? Will need Jekyll installed, and then `jekyll serve`. Sorry for not testing more thoroughly.

[2016-02-10 16:07] betatim commented on #13
Can't we remove it? I've never found these build in chat thingies useful.

[2016-02-10 16:11] RaoOfPhysics commented on #13
It's kinda useful for those wanting to participate remotely or just ping from time to time, no?

No strong feelings, I just thought it might have practical use.

[2016-02-10 16:12] ibab commented on #13
We should revert it now, because it makes the site difficult to use.
Once we can get the close button to not be blocked by the header, we can enable it again.

[2016-02-10 16:14] RaoOfPhysics commented on #13
@ibab: Sure. Revert away! I'm not sure how to do all that. :P

[2016-02-10 16:21] betatim commented on #13
I an see the close button, but clicking it doesn't do anything :(

On Wed, Feb 10, 2016 at 5:14 PM Achintya Rao notifications@github.com
wrote:

[2016-02-10 16:23] ibab commented on #13
`git revert bla -m 1` to the rescue in 4fe3687

[2016-02-10 18:08] betatim commented on #10
Maybe we can entice @kdungs or @eamonnmag?

[2016-02-11 22:48] betatim opened #14 "LIGO code-along"
Date: 26 Feb 2016?
Lesson guide: TBD
Lesson materials: ___

---

We should have an event where we rediscover gravity waves. Their data is up: https://losc.ligo.org/events/GW150914/ their stack is python so CERN should be able to confirm what these new kids on the block are doing :stuck_out_tongue_winking_eye:

:ocean::ocean::ocean: or :wavy_dash::earth_africa::wavy_dash:?

[2016-02-11 23:06] adavidzh commented on #14
+1

[2016-02-12 06:37] RaoOfPhysics commented on #14
+1

[2016-02-12 06:50] betatim commented on #14
Does anyone know a LIGO person who has more insight than us "decoding" the [jupyter notebook](https://losc.ligo.org/s/events/GW150914/GW150914_tutorial.html) they posted that explains some of the analysis?

[2016-02-12 08:14] suenjedt commented on #14
Super nice idea. I will ask around if someone knows anyone there. I dont.

[2016-02-12 10:27] tpmccauley commented on #14
I love what they've done regarding the jupyter notebook. If only there were more hours in the day...

[2016-02-12 10:30] RaoOfPhysics commented on #14
@tpmccauley: You should spend your limited time fiddling with the Jupyter notebook instead of reading their published scientific papers. :P

[2016-02-12 12:09] ibab commented on #14
Big +1
Can confirm that following it is a lot of fun

[2016-02-12 15:15] betatim commented on #14
[Twitter delivers](https://twitter.com/cplberry/status/698061955836162049): [cplberry](https://twitter.com/cplberry) might be able to hook us up. However he asks, what in particular would we want to learn? I'd be happy to hear the inside scoop/assumptions and gory details of how one of the plots in the PRL were made. Other thoughts?

[2016-02-12 15:27] tpmccauley commented on #14
Myself, I was thinking of making some graphics or animations with WebGL. Not sure I need to delve too deeply into the analysis for that but at least I have access to some numbers.

[2016-02-13 17:43] RaoOfPhysics commented on #14
We should get @cranmer in on the action:
- https://twitter.com/KyleCranmer/status/698210825388032000
  - https://github.com/cranmer/ligo-binder
- https://twitter.com/KyleCranmer/status/698240530900193282

[2016-02-13 17:57] lukasheinrich commented on #14
i'd be in on it.

[2016-02-13 18:00] RaoOfPhysics commented on #14
:D

[2016-02-13 18:01] RaoOfPhysics commented on #14
For reference, via @betatim: https://github.com/minrk/ligo-binder

[2016-02-13 18:05] betatim commented on #14
We should figure out what we want to learn and then get in touch with the
LIGO guy on twitter, see if he can connect us to someone with the needed
knowledge

On Sat, Feb 13, 2016 at 7:01 PM Achintya Rao notifications@github.com
wrote:

[2016-02-13 18:07] RaoOfPhysics commented on #14
I nominate @betatim to lead operations! :D

[2016-02-13 18:20] lukasheinrich opened #15 "github link broken on github.io page"
tried to find the place in source, but failed. The link here

WANT TO BE NOTIFIED OF OUR UPCOMING EVENTS?
Head over to GitHub and watch our repository, like this:

the link pointing to GH is broken.

[2016-02-13 18:27] lukasheinrich commented on #14
reproducing this chain in filtering out the signal looks fun:

https://twitter.com/danhoak/status/698448909006405632

not sure if LIGO release all the data to do that, though

[2016-02-14 10:43] adavidzh commented on #15
Duplicate of #7

[2016-02-14 10:43] #15 closed, assigned to nobody

[2016-02-15 08:16] RaoOfPhysics commented on #7
Should we update our website locally?

[2016-02-15 08:35] betatim commented on #7
We should ping @ibab to bump mozillascience/studyGroup#48 so that it gets merged upstream.

[2016-02-15 11:26] RaoOfPhysics commented on #7
I pinged Abby on that PR.

[2016-02-16 12:14] RaoOfPhysics commented on #1
Are we doing a planning meeting this week? I'm away tomorrow and on Thursday morning. Can join on Thursday afternoon.

[2016-02-16 12:17] betatim commented on #1
I'm out all week, but you don't really need me.

On Tue, Feb 16, 2016 at 1:14 PM Achintya Rao notifications@github.com
wrote:

[2016-02-16 12:18] RaoOfPhysics commented on #1
We neeeeeeeed you, Tiiiiiiim!

[2016-02-16 15:07] lukasheinrich commented on #1
since, I'm still based in NY, I'll probably only join for the first meeting that is remote, otherwise I should be showing up at CERN around summer.

[2016-02-16 15:11] RaoOfPhysics commented on #1
@lukasheinrich: :+1:  Don't think we'll have remote participation for the first one, but if we do in the future, I'll add Vidyo links to the issues. :)

[2016-02-16 15:17] ibab commented on #1
I'm based in Manchester right now, so I won't be able to attend in person. Would be nice if we can set up Vidyo at some point, but it has to fit with the format of the study group (We wouldn't want this to become yet another of those CERN Vidyo meetings).

[2016-02-16 15:23] RaoOfPhysics commented on #1
![](https://i.imgur.com/BlFKF0r.jpg)

[2016-02-16 15:29] ibab opened #20 "Turn your computer into lxplus with a single command"
**Date**: TBD
**Time**: TBD
**Location**: TBD
**Vidyo for remote participants** (just click on the link to proceed): [CERN_OpenScience](http://vidyoportal.cern.ch/flex.html?roomdirect.html&key=Y71x6cfIijd0ZKrxesei6NpQ9Q)
**Session format**: [Work-Along](https://mozillascience.github.io/studyGroupHandbook/event-types.html#workalong)

---

Lesson guide: @ibab, @lukasheinrich
Lesson materials: Coming

[2016-02-16 15:39] lukasheinrich commented on #20
Hi,

I've been very interested in getting a lxplus like environment on top of cern/slc6-base. My start was this:

https://github.com/lukasheinrich/hepsw-docker/tree/master/lxpluslike

image at: https://hub.docker.com/r/lukasheinrich/lxplus-like/

basically I tried to snapshot what yum has installed on lxplus and tried to install the same. The same steps could be either done on top of hepsw/cvmfs-l

[2016-02-16 15:46] ibab commented on #20
Yeah, maybe we can come up with some default images people might want to use and write some instructions on how they can be used to do interesting things.

Wouldn't this require you to set up `cvmfs` on the host?

[2016-02-16 15:51] lukasheinrich commented on #20
yes this will require a cvmfs setup on the host. But the advantage is that you don't need to run the container in privileged mode. Also, the docker image itself doesn't need to know anything about cvmfs which keeps the images more lightweight.

[2016-02-16 15:54] lukasheinrich commented on #20
btw this we use exactly this /cvmfs mounting + custom lightweight docker images for RECAST. On top of the /cvmfs mount people can also request to have a /afs mounted (I'm working on getting /eos to work). Finally some workflow steps need GRID authentication, so for those we mount a path `/recast_auth` which includes a script `/recast_auth/getmyproxy.sh` this will then use the host's host certifica

[2016-02-16 15:57] adavidzh commented on #20
I have been fiddling with `docker-machine` and `docker` exactly for this purpose: "lxlaptop". Up to now I was getting stuck in finding a reasonable `Dockerfile` or image to start from.

[2016-02-16 16:00] lukasheinrich commented on #20
I think it's a good idea to start from `cern/slc6-base` and install libraries on top to make it more similar to lxplus like in the example I posted.

[2016-02-16 16:08] ibab commented on #20
:+1: on starting with `cern/slc6-base`.

@lukasheinrich: Do you mean this RECAST? http://recast.perimeterinstitute.ca/
Looks interesting!

[2016-02-16 16:12] adavidzh commented on #20
I just found https://github.com/hepsw/docks
Thanks for getting me on the right track :)

[2016-02-16 16:15] lukasheinrich commented on #20
@ibab yes that's the right website but it's the old version and we (@cranmer, me, and a couple of other people) have been making good progress on docker-based workflows for analysis (i.e. you can have separate docker images for each workflow step). If you have LHCb Analysis Code, it would be great to try this out!

@adavidzh I also have a similar repository as @sbinet which I would like to merge i

[2016-02-16 16:21] ibab commented on #20
@lukasheinrich: Sounds good! Some people at LHCb are experimenting with automated analysis workflows (like producing all plots starting from some initial dataset).
We could try to plug our code into your system.

[2016-02-16 16:22] lukasheinrich commented on #20
that would be great. Can you put me in touch with them?

[2016-02-16 16:24] ibab commented on #20
Do you have access to the lhcb-collaborative-working@cern.ch egroup?
That's the mailing list we use for that (and other stuff).

[2016-02-16 16:28] lukasheinrich commented on #20
no it seems closed to LHCb members only. By the way, I have been in touch with @anaderi on including LHCb into RECAST. Maybe we can work form there? I would also be happy to present a short overview of what we already have in our infrastructure to the group (in case you have regular meetings)

[2016-02-16 16:35] seneubert commented on #20
@lukasheinrich maybe you can discuss on one of the next collaborative-working meetings?

[2016-02-16 16:40] lukasheinrich commented on #20
that would be great. I'll include you in an email thread that we have had for a while, maybe we can discuss this further there.

[2016-02-16 16:47] lukasheinrich commented on #1
agreed to all of the above points. not sure what the best way is to have something more immersive/interactive than vidyo that also works remotely. surely, other people have faced this problem, maybe there are some solutions?

[2016-02-16 16:54] betatim commented on #1
I think the only solution is: no remotes :(

On Tue, Feb 16, 2016 at 5:47 PM Lukas notifications@github.com wrote:

[2016-02-16 16:55] lukasheinrich commented on #1
yeah, I was suspecting that :-/ I vote for more travel money.

[2016-02-16 23:08] adavidzh commented on #20
Looks to me that LHCb is having a lot of good fun.
When I mention Docker, all I get is shrugs around here.

[2016-02-16 23:12] lukasheinrich commented on #20
hey @adavidzh, somewhat similar to ATLAS, but we're getting there. We are in touch with a couple of CMS people as well (Ken Bloom, Mike Hildreth..) so maybe we can get something going. It seems like I will be giving a talk next Monday for the LHCb group, maybe you can get one-time access as well?

PS: i'll include you in the same email thread as the others

[2016-02-17 07:47] betatim commented on #20
Getting back to docker for analysis: we should have a lesson on this! Showing people how easy it is to get going and have a `lxlaptop`. One thing I am undecided on is whether you should make use of cvmfs or not. I think it depends a lot on what you want to use the container for. Quick play, day to day use it is probably fine but for reproducible analysis relying on cvmfs is not that useful as it s

[2016-02-17 07:50] RaoOfPhysics opened #21 "Introduction to Jupyter notebooks"
**Date**: 4 March 2016
**Time**: 17:00 CET (UTC +01)
**Location**: [4/3-006 (TH Auditorium)](https://maps.cern.ch/mapsearch/mapsearch.htm?n=[%274/3-006%27])
**Vidyo for remote participants** (just click on the link to proceed): [CERN_OpenScience](http://vidyoportal.cern.ch/flex.html?roomdirect.html&key=Y71x6cfIijd0ZKrxesei6NpQ9Q)
**Session format**: [Work-Along](https://mozillascience.github.io/st

[2016-02-17 08:39] betatim commented on #21
I'd like to volunteer for this lesson.

[2016-02-17 09:47] adavidzh commented on #20
Well, in CMS whatever is in cvmfs can also be installed in standalone (I got a working `Dockerfile` to do that last night, but it's still coming at 16 GB).

[2016-02-17 10:41] RaoOfPhysics commented on #21
@betatim: Yay! I was going to nominate you in any case. ;)

[2016-02-17 10:44] RaoOfPhysics commented on #21
And when you have fancy materials, you can add it here: https://github.com/mozillascience/studyGroupLessons (Maybe host it on our organisation, if you want.)

[2016-02-17 14:13] sbinet commented on #20
for `CVMFS`-free images, I have provided these 2 as a proof of concept for LHCb:
- https://github.com/hepsw/docks/tree/master/lhcb-gaudi
- https://github.com/hepsw/docks/tree/master/lhcb-davinci

so, the basic one with just `Gaudi` installed (from RPMs) and a more involved one, `DaVinci` which is the analysis flavoured framework of LHCb.

this is detailed in a CHEP paper: https://inspirehep.net/re

[2016-02-17 14:44] lukasheinrich commented on #20
So my experience in ATLAS is that we can get away with a reasonable image sizes at least for our analysis software by installing everything within Docker without /cvmfs access. This is easier built purely on top of ROOT or using a bare bones Gaudi/Athena based release. For running actual reconstruction type jobs, I only tried by mounting /cvmfs at runtime. That works well, but @betatim is right th

[2016-02-17 16:46] adavidzh commented on #20
For [CMS](https://twiki.cern.ch/twiki/bin/view/CMSPublic/SDTCMSSW_aptinstaller), by chaining the RPM installation in a single `RUN` command, I am now at 12.6 GB. This is starting [`FROM kreczko/puppet-builder`](https://hub.docker.com/r/kreczko/puppet-builder/~/dockerfile/) because I actually used [`kreczko/cmssw-standalone`](https://hub.docker.com/r/kreczko/cmssw-standalone/~/dockerfile/) by @krec

[2016-02-17 16:49] lukasheinrich commented on #20
@adavidzh feel free to try `lukasheinrich/lxplus-like`

[![](https://badge.imagelayers.io/lukasheinrich/lxplus-like:latest.svg)](https://imagelayers.io/?images=lukasheinrich/lxplus-like:latest)

this is on top of slc6-base and has most yum packages instaleld that LXPLUS has.

Though this is certainly not lean :-/

[2016-02-17 17:14] kreczko commented on #20
@adavidzh indeed, the containers I was playing around with not optimal as their size can get up to 19 GB. However, if you need CMSSW on a computer that does not have network all the time, `kreczko/cmssw-standalone` can be useful.

That said, `hepsw/cvmfs-cms` is much better for most cases.

[2016-02-17 17:54] adavidzh commented on #20
@lukasheinrich: starting from 11 GB is not promising ;) (the CMS software comes in at ~6 GB).
@kreczko: `kreczko/cmssw-standalone` has "only" the problem of not building in Docker Hub (I suppose because of size).

[2016-02-17 17:56] sbinet commented on #20
isn't http://docker.cern.ch/howtopr supposed to tackle this size-on-the-hub issue?

[2016-02-17 18:00] kreczko commented on #20
I did not know CERN had their own registry. That it good news.

[2016-02-17 18:01] lukasheinrich commented on #20
I guess there is a somewhat irreduciple compromise that we have to make. if you want to have something LXPLUS like, meaining to be able to get stuff from cmvfs and expect it to work, you somehow depend on having system libraries installed that these cvmfs software depends on (think: getting a ROOT  release, which depends on libX11 etc being installed, etc). Of course it would be a bit nicer if we

[2016-02-17 18:03] lukasheinrich commented on #20
@kreczko yes, they are working on this. Also they are preparing a Google Container Enging-like service that you will able to control with Docker Swarm and Kubernetes. But this is still in a early development phase.

[2016-02-17 18:09] adavidzh commented on #20
@sbinet docker.cern.ch is really cool. Thanks!
@lukasheinrich the problem is indeed that in CMS, every single package is taken from the CMS repo, not  from SLC. So in a sense, the leaner the starting image, the "better".

[2016-02-17 18:45] lukasheinrich commented on #20
@adavidzh interesting, so CMS maintains its own list of low-level system libraries it needs (stuff I had to deal with e.g. include various openssl libs etc)?

[2016-02-17 19:38] eamonnmag commented on #14
I also know Jenne Drigger who was at CERN at the same time as me as a summer student. Now she's a post doc on LIGO. Want me to contact her?

[2016-02-17 20:15] betatim commented on #14
:thumbsup:

On Wed, Feb 17, 2016 at 8:39 PM Eamonn Maguire notifications@github.com
wrote:

[2016-02-17 20:35] eamonnmag commented on #10
![msl](https://cloud.githubusercontent.com/assets/282396/13123799/506e2afa-d5be-11e5-9ac2-ec0ed9b2a5b8.png)

[2016-02-17 20:47] eamonnmag commented on #10
![msl2](https://cloud.githubusercontent.com/assets/282396/13124135/fa833fe8-d5bf-11e5-979f-ee2172682066.png)

[2016-02-17 20:50] eamonnmag commented on #10
Tried to make it look a little like the MSL logo, but with a brain instead to show collective knowledge. Each dot represents a person for instance, with colour representing their domain. The second one has particles coming in to it to bring a subtle hint of particle physics, and also show that the closer you get, the bigger they get, which is bringing the idea that by coming together, your knowled

[2016-02-17 20:53] betatim commented on #10
CERN font for the writing and CERN written in CERN blue?

Paging @auremoser to get her to point us to where it says yay/nay on using the MSL logo

[2016-02-17 20:58] eamonnmag commented on #10
![msl3](https://cloud.githubusercontent.com/assets/282396/13124617/91cf471a-d5c1-11e5-8be0-7fed20052adf.png)

[2016-02-17 21:08] lukasheinrich commented on #10
like it!

[2016-02-17 21:10] ibab commented on #10
Very cool! :tada:

[2016-02-17 21:10] suenjedt commented on #10
Nice!

[2016-02-17 21:55] kdungs commented on #10
Awesome, Eamon! :tophat:

Btw., does the use of the font and colour require permission by CERN?

[2016-02-17 21:57] betatim commented on #10
Aren't you glad the lawyers have arrived? :P

On Wed, Feb 17, 2016 at 10:56 PM Kevin Dungs notifications@github.com
wrote:

[2016-02-17 22:06] eamonnmag commented on #10
I don't think so. Although I've never actually directly used their font
since I think it's a bit rubbish. I have rarely had trouble with them
though. Using the colour for sure is fine. The font,  maybe not, but
eyeballing it,  it's not a special font.

On Wed, 17 Feb 2016 22:59 Tim Head notifications@github.com wrote:

[2016-02-17 22:08] kdungs commented on #10
Okay, I was only worried because I know that they are very protective when it comes to (ab)use of their logo.

[2016-02-17 22:10] eamonnmag commented on #10
They definitely have brand guidelines. I'd need to check if using the CERN
text directly is against those. It can be easier to just use a different
(better),  but close font.

On Wed, 17 Feb 2016 23:08 Kevin Dungs notifications@github.com wrote:

[2016-02-17 23:25] auremoser commented on #10
Very late to the game, thanks for adding me @betatim, we're fine being included, or alluded to, in the design :). I can't speak for CERN though.

[2016-02-17 23:37] adavidzh commented on #10
_cough_ comic _cough_ sans _cough_
(Damned cough)

[2016-02-17 23:46] auremoser commented on #10
nothing says "legit science project" like a cameo from comic sans.

[2016-02-18 08:31] eamonnmag commented on #10
And a portrait of fabiola :)
On 18 Feb 2016 12:46 am, "Aurelia Moser" notifications@github.com wrote:

[2016-02-18 08:55] betatim commented on #10
It is all about [comic neue](http://comicneue.com)

[2016-02-18 08:56] betatim commented on #10
@eamonnmag can you make a square version as well for the github org box? Maybe just the colourful points and no writing?

[2016-02-18 08:58] eamonnmag commented on #10
![msl_sq](https://cloud.githubusercontent.com/assets/282396/13138230/2a336270-d626-11e5-925a-6a3d53600f0a.png)

[2016-02-18 08:58] eamonnmag commented on #10
There you go @betatim

[2016-02-18 11:53] RaoOfPhysics commented on #10
I like the idea, but I have to I'm not a fan of the brain design. We're not the Human Brain Project or a neuroscience lab. :P

[2016-02-18 12:28] RaoOfPhysics commented on #13
Presumably, we can close this, right?

[2016-02-18 12:28] #13 closed, assigned to nobody

[2016-02-18 12:31] RaoOfPhysics commented on #7
Looks like https://github.com/mozillascience/studyGroup/pull/48 is resolved. Can someone with better Jekyll skillz pull the changes in to our repo?

[2016-02-18 14:19] auremoser commented on #10
OMG @betatim I hadn't hear of Commic Neue! <3
@RaoOfPhysics I'm not sure the brainshape is super-strong anyway, it could also be a [bubble chart](http://bl.ocks.org/mbostock/4063269). Logos can be goofy anyway, I mean look at [uber](http://www.elischiff.com/blog/2016/2/16/ubers-atomic-meltdown), trying to get all science-y with the "bits and atoms" stuff.

[2016-02-18 14:22] RaoOfPhysics commented on #10
@auremoser: I hadn't even seen the explanation @eamonnmag posted above when I first saw the image and I immediately thought, "That's a brain!" :D

I agree that logos can be goofy, so if the other folk like this and want to go with it, there are no objections from me. :)

[2016-02-18 15:29] RaoOfPhysics opened #22 "Pre-SG Survey Responses"
- [Survey](https://docs.google.com/forms/d/1z07RWOD1NKGfcDCAJrMju5rpsmat76jaeHcLv9m3rqI/viewform)
- [Responses](https://docs.google.com/forms/d/1z07RWOD1NKGfcDCAJrMju5rpsmat76jaeHcLv9m3rqI/viewanalytics)
### Key points
- Most people who responded are based at CERN permanently
- Nice mix of interests
- Python seems to be well known
- Git / GitHub is familiar to most
- Hacky Hour / Co-working Sessio

[2016-02-19 11:17] RaoOfPhysics commented on #1
So, who's coming today?

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Find <a href="https://twitter.com/PHerterich">@pherterich</a> or me at today&#39;s <a href="https://twitter.com/CERN">@CERN</a> <a href="https://twitter.com/hashtag/mozstudy?src=hash">#mozstudy</a> session to get your Research Fox sticker! <a href="https://t.co/c97nE9w9gL">https://t.co/c97nE9w9gL</a> <

[2016-02-19 11:20] tpmccauley commented on #1
I cannot alas. Enjoy.

[2016-02-19 14:03] RaoOfPhysics opened #24 "List your projects!"
### CERN Study Group Projects

List your public projects (with link to GitHub / Bitbucket / GitLab) below so we have a list for contributors. Format:

[code]

(N.B.: Do not use this issue for :+1: / `+1` and similar comments. Use it exclusively to list your open-science projects.)

[2016-02-19 14:25] seneubert commented on #24
- Name: **ANA-Docker**
- Description: tutorial to setup Gitlab-CI at CERN, including a Dockerfile to create a useful container for analysis
- Link: https://gitlab.cern.ch/sneubert/ANA-Docker
- Skills sought: Docker foo
- Additional info: The tutorial needs some feedback from people trying it out. The Container could be modularised.

---
- Name: **Continuous Analysis Template**
- Description: templ

[2016-02-19 15:29] JoeriHermans commented on #1
I'm still in Belgium :( I will attend next time!

[2016-02-19 15:43] suenjedt commented on #24
- Name: **CERN Open Data Portal**
- Description: An open platform to publish open data from CERN experiments
- Link to repo(s): https://github.com/cernopendata/opendata.cern.ch
- Skills needed / sought: feedback, input, ideas, data?
- Additional info:
  - this is a collaborative effort and we are eager to get feedback from others (i.e. potential users and contributors): what else to integrate? how

[2016-02-19 15:52] ibab opened #25 "A regular hangout as an alternative for remote participants"
I think that restricting the study group meetings to physical participants is a good idea.
Several reasons for that come to mind:
- No messy setup of remote conference system at the meeting
  - these things go wrong 50% of the time anyway
  - would be difficult to have the meeting at R1
- No divide between local/remote participants
  - makes communication much simpler, as everyone is on the same p

[2016-02-19 15:55] RaoOfPhysics commented on #25
Are you thinking of splitting the sessions into a two-parter:
- 16:00–17:00: VCon (I would honestly prefer Vidyo since it can handle more than 10 participants)
- 17:00–whenever: In-person only

I'm not strongly opposed to that. @pherterich and @betatim want to weigh in?

[2016-02-19 15:57] ibab commented on #25
They could also be simultaneous, with the two groups potentially doing different things.
Having them after each other would make it easier for people at CERN to catch both, which I also like.

[2016-02-19 16:01] RaoOfPhysics commented on #25
That also sounds workable.

[Edit: My second sentence made no sense. :P]

[2016-02-19 16:30] Cotera commented on #1
Where are everybody? I'm looking for you... If someone reads me in 5 minutes I'd like to join, otherwise, next time...

[2016-02-19 16:32] betatim commented on #1
Hi, I think the plan was to meet in R1.

On Fri, Feb 19, 2016 at 5:31 PM Cotera notifications@github.com wrote:

[2016-02-19 16:35] Cotera commented on #1
There I'm, I don't see any group..

[2016-02-19 17:01] betatim commented on #1
That is a shame. I'm unfortunately not at cern either. Lesson for next time
bigger sign/better definition of meeting point.

On Fri, 19 Feb 2016 17:35 Cotera notifications@github.com wrote:

[2016-02-19 17:17] pherterich commented on #1
Sorry, I guess my Mozilla Science Lab shirt was not visible enough once we sat down and started talking (and it got more crowded here).  We'll print a huuuge sign for next week.

[2016-02-19 18:10] lukasheinrich commented on #20
Hi everyone,

I just gave a short presentation to the ATLAS analysis software group, and got some useful input / suggestions.

One thing that has been traditionally hard to do from e.g. a Mac or Windows was to get access to the Grid. One solution is of course to have cvmfs installed, bind this to docker (analogously to the discussion above), and setup the Grid middleware from there.

But to have a

[2016-02-20 10:11] RaoOfPhysics commented on #1
@Cotera: Apologies! We waited for about 15 minutes and then sat down. We were (I think!) the only folk with laptops in the glass extension, so I hoped we could be found easily. We'll have clearer marking next time if we meet in a crowded space.

[2016-02-20 10:20] RaoOfPhysics commented on #10
- https://github.com/CERNStudyGroup
- https://twitter.com/mozstudyCERN

[2016-02-20 10:20] #10 closed, assigned to nobody

[2016-02-20 10:25] RaoOfPhysics commented on #7
Closed by #23.

[2016-02-20 10:25] #7 closed, assigned to nobody

[2016-02-20 10:41] RaoOfPhysics opened #26 "Intros!"
Use the template below to introduce yourselves! Some of the questions overlap with the survey, but that's ok.

[code]

(N.B.: Do not use this issue for :+1: / `+1` and similar comments. Use it exclusively for introductions.)

[2016-02-20 10:43] RaoOfPhysics commented on #26
I'll start!
- Who I am: Achintya Rao
- What I do: Science communication for [CMS](http://cern.ch/cms). I'm also doing a PhD in science communication.
- What interests me: Outreach and engagement
- My project(s): Will add!
- How I can contribute: Editing, project coördination, outreach etc.
- Where I tweet (if applicable): [@RaoOfPhysics](https://twitter.com/RaoOfPhysics)

[2016-02-20 20:29] kreczko commented on #26
- Who I am:  Luke Kreczko
- What I do: Research Assistant for CMS (physics & computing), but I do also do DevOps,
- What interests me: Making (analysis) software easier to use and long-term maintainable.
- My project(s): Too many to list, so here are the groups instead:
  - https://github.com/HEP-Puppet & https://github.com/uobdic for **DevOps**
  - https://github.com/BristolTopGroup & https://git

[2016-02-22 16:22] RaoOfPhysics opened #27 "Intro to Data Mining as a Service (DMaas) at CERN"
Date: TBD
Lesson guide: @dpiparo?
Lesson materials: ___

---

Intro etc.:
- PDF: http://cs3.ethz.ch/presentations/Novel_applications_and_innovation/01Piparo.pdf
- https://root.cern.ch/notebooks/rootbinder

---

~~Removed reference to Red Forman.~~

[2016-02-22 16:39] RaoOfPhysics opened #28 "Julia for Physicists"
Date: TBD
Lesson guide: @jpata?
Lesson materials: ___

---

Intro etc.:
- https://github.com/jpata/JuliaForPhysicists
- https://github.com/jpata/JuliaForPhysicists/blob/master/tabular.ipynb

(via https://twitter.com/JoosepPata/status/650620578026651648)

[2016-02-22 16:43] #1 closed, assigned to nobody

[2016-02-23 08:39] RaoOfPhysics commented on #27
Also related to #21.

[2016-02-23 16:36] RaoOfPhysics opened #31 "Show and Tell"
**Date**: 26 Feb 2016
**Time**: 17:00 CET (UTC +01)
**Location**: CERN Restaurant 1 (the "IKEA" section), moving to a meeting room if needed (We'll sign-post it a bit more clearly this time!)
**Session format**: Show and Tell!
**RSVP**: https://dudle.inf.tu-dresden.de/mozstudyCERN_2/

---

Demo your projects and get feedback/collaborators/partners!

---

[![Join the chat at https://gitter.im/CERNS

[2016-02-25 09:32] ric-bianchi commented on #26
- Who I am: Riccardo Maria BIANCHI ("Ric.")
- What I do:
  - Physicist, Post-Doc at Pittsburgh University, based at CERN
  - Developer for ATLAS Computing Core SW
  - maintainer of the ATLAS 3D event display software (VP1)
  - ...plus a bit of ATLAS Outreach :)
- What interests me:  Interactive graphics and data visualization, explaining things to people, outreach
- My project(s): Will add!
- How

[2016-02-25 11:38] JoeriHermans commented on #26
- Who I am: Joeri Hermans
- What I do:
  - Technical Student at IT-DB-SAS
  - Master A.I. student at Maastricht University
- What interests me: Machine learning, astronomy.
- My project(s): Will add.
- How I can contribute: Coding, distributed computing, ML.
- Where I tweet (if applicable): [@JoeriHermans](https://twitter.com/joeri_hermans) (I don't tweet much though)

[2016-02-26 13:49] RaoOfPhysics commented on #31
Reminder!

[2016-02-26 15:46] RaoOfPhysics commented on #21
@betatim: Next Friday (4 March)?

[2016-02-26 16:08] pherterich commented on #31
Update: we're in the glassbox in the very far left corner when you enter. I'm in the Mozilla Science Lab T-shirt again, so come and find us!

[2016-02-26 17:29] jacquerie commented on #24
- Name: **senato.py**
- Description: A scraper for the data made available by the Italian Senate, and a cluster analysis to detect similar amendments.
- Link to repo(s): https://github.com/jacquerie/senato.py
- Skills needed / sought: Some coaching on text similarity (I'm just using Jaccard similarity).
- Additional info:
  - The Italian Senate is clogged by computer-generated amendments. This pro

[2016-02-26 17:31] pherterich commented on #26
- Who I am: Patricia Herterich
- What I do: Finishing up my PhD in Library and Information Science (on research data services for the HEP community) before I leave CERN in a bit
- What interests me: Enabling Open Research, anything else I can help with
- My project(s): this study group ;)
- How I can contribute: baking (vegan) muffins, wearing the Mozilla Science t-shirt so we can be found
- Where

[2016-02-26 17:45] jacquerie commented on #26
- Who I am: Jacopo Notarstefano
- What I do: I am a Junior Fellow contributing to http://inspirehep.net/.
- What interests me: Data Analysis in Python and related technologies.
- My project(s): https://github.com/CERNStudyGroup/cernstudygroup.github.io/issues/24#issuecomment-189382829
- How I can contribute: coding, coding, coding.
- Where I tweet (if applicable): [@Jaconotar](https://twitter.com/

[2016-02-28 11:34] betatim commented on #21
I'll do it. Be prepared!

![science](http://i.imgur.com/hopuzvW.gif)

[2016-02-28 11:38] RaoOfPhysics commented on #21
@betatim: WHOOP!

[2016-02-28 16:40] RaoOfPhysics commented on #21
@ibab: @betatim has given permission for remote participants! I've added a Vidyo room to the OP. :D

[2016-02-29 10:57] #31 closed, assigned to nobody

[2016-02-29 13:14] Cotera commented on #26
- Who I am: Ruben Cotera
- What I do: Technical Student at CERN.
- What interests me: Developing (any language, I learn), make friends.
- My project(s): nothing to note here now.
- How I can contribute: coding, ideas, docs..., just ask me.
- Where I tweet (if applicable): [@RubenCotera](https://twitter.com/RubenCotera) (in English), [@CrezCantabria](https://twitter.com/CrezCantabria) (in Spanish a

[2016-03-01 18:35] betatim commented on #26
- Who I am: Tim Head
- What I do: Consulting scientist and open source tool maker, previously: [CERN](http://home.cern)
- What interests me: open-source software, building things, triathlon.
- My projects: [everpub](https://github.com/CERNStudyGroup/cernstudygroup.github.io/issues/24#issuecomment-190887074) and [everware](https://github.com/CERNStudyGroup/cernstudygroup.github.io/issues/24#issueco

[2016-03-01 18:42] lukasheinrich commented on #26
- Who I am: Lukas Heinrich
- What I do: PhD in experimental particle physics (ATLAS)
- What interests me: physics (d'oh), developing a tools for physics analyses, making them reproducible, generally moving hep s/w to a better place
- My project(s): [LINK to relevant comment in #24]
- How I can contribute: technical presentations about c++ / python, web services / tools, prototyping new ideas
- Whe

[2016-03-01 20:27] betatim commented on #24
---
- Name: Everpub
- Description: :telescope: Everpub - Making reusability a first class citizen in the scientific workflow.
- Link to repo(s): https://github.com/everpub
- Skills needed / sought: docker, JS, python

---
- Name: Everware
- Description: Reproducible and reusable science powered by jupyterhub and docker. Like nbviewer, but executable.
- Link to repo(s): https://github.com/everware

[2016-03-02 07:31] hachreak commented on #26
- Who I am: Leonardo Rossi
- What I do: Fellow on IT department
- What interests me: physics, erlang, distributed computing, Machine learning, Artificial Intelligence, Data Analysis, ...
- My project(s): See: @hachreak
- How I can contribute: everything I've a project on.
- Where I tweet: [@hachreak](https://twitter.com/hachreak)

[2016-03-02 09:11] tpmccauley commented on #24
- Name: iSpy WebGL
- Description: A browser-based event display for the CMS experiment using WebGL
- Links: https://github.com/cms-outreach/ispy-webgl, http://cern.ch/ispy-webgl
- Skills needed/sought: feedback (is that a skill?), testing

[2016-03-02 09:54] betatim commented on #21
I am developing the material here: https://github.com/betatim/studygroupjupyter

This will be a super interactive session, so bring your laptops and follow the [setup instructions](https://github.com/betatim/studygroupjupyter#setup-construction) before you arrive. This way we
can get going straight away instead of spending a lot of time getting everything working.

If you get stuck post in this th

[2016-03-02 10:44] RaoOfPhysics commented on #21
Or harass @betatim on Gitter, which is what I did. But I'm happy to note that setup is successfully done. Ready to go.

[2016-03-02 11:16] daslerr commented on #26
- Who I am: Robin Dasler
- What I do: Fellow in Scientific Information Service (SIS), working on EU-funded THOR (http://project-thor.eu)
- What interests me: how information is represented and encapsulated; making research support services match the reality of how things need to get done
- My project(s): nothing of interest of my own to report yet
- How I can contribute: requirementsy/coordinatey

[2016-03-02 11:34] Tontonis commented on #26
- Who I am: Hugo Day
- What I do: Fellow in TE-ABT - Beam coupling impedance and HV behaviour for fast pulsed kicker magnets
- What interests me: Reproducible scientific output, interactive analysis examples both professionally and as an educational tool
- My project(s): CosmicPi [(cosmicpi.org)](http://cosmicpi.org)
- How I can contribute: Python, crash testing, building hardware things
- Where I

[2016-03-02 11:38] tpmccauley commented on #26
- Who I am: Tom McCauley
- What I do: Physicist and software developer at University of Notre Dame for CMS and QuarkNet
- What interests me: Open(data + science) and data visualisation (among other things)
- My project(s): <a href="http://cern.ch/ispy-webgl">iSpy WebGL</a>, an event display for CMS (among other things)
- How I can contribute: WebGL, coding (JavaScript, C++, python)
- Where I tweet

[2016-03-02 14:34] mickypaganini commented on #26
- Who I am: Michela (Micky) Paganini
- What I do:
  Physics PhD Student at Yale University, who likes to play around with Deep Learning and apply it pretty much anywhere in ATLAS
- What interests me: pretty data visualization, open/reproducible science, science outreach, Deep Learning and ML in general, IoT, learning new things!
- My project(s): applying DL to tagging (b, top, boosted boson) and e

[2016-03-04 13:37] TaiSakuma commented on #26
- Who I am: Tai Sakuma
- What I do: physics at CMS
- What interests me: data analysis, data visualization, event
  reconstruction, event visualization, detector geometry, 3D
  modeling, 3D printing, 3d animation, test-driven development,
  continuous integration, an extension of space time symmetry, the
  identity of dark matter, a solution to fine-tuning problem
- My project(s): [SketchUpCMS](htt

[2016-03-08 11:31] #21 closed, assigned to betatim

[2016-03-08 11:39] RaoOfPhysics opened #34 "Meeting 4: Hacky Hour"
**Date**: 11 March 2016
**Time**: 17:00 CET (UTC +01)
**Location**: CERN R1, in the glass extension commonly known as the "IKEA Section". We should be on the far end, near the glass wall facing the Alps.
**No remote participants**
**Session format**: [Hacky Hour](https://mozillascience.github.io/studyGroupHandbook/event-types.html#hackyhour) &mdash; bring your projects with you and let's work over

[2016-03-08 11:49] RaoOfPhysics commented on #25
@ibab: We have the [CERN_OpenScience](http://vidyoportal.cern.ch/flex.html?roomdirect.html&key=Y71x6cfIijd0ZKrxesei6NpQ9Q) Vidyo room for remote participants.

Should we close this issue? Or do we need to think a bit more about a regular VCon call from 16:00 to 17:00?

[2016-03-08 11:50] RaoOfPhysics commented on #14
@eamonnmag: Any update on this?

[2016-03-08 11:53] ibab commented on #25
We should advertise the Vidyo room somewhere.
Other than that I'm happy :)

[2016-03-08 12:11] eamonnmag commented on #14
Yes, @betatim and I were speaking with Jenne. She is happy to support remotely.

[2016-03-08 12:14] RaoOfPhysics commented on #14
Woo! Is she on GitHub? If so, perhaps you can add her to this conversation. And maybe we should take a poll on what the best day is to do this, both for Jenne and for the interested folk at CERN.

[2016-03-08 12:15] eamonnmag commented on #14
She's not. But if we get a doodle poll together, I can send her that.

[2016-03-08 13:22] jpata commented on #28
I'd be happy to give a lesson at one point, though I'd need to know in advance as I'm mostly in Zurich. let me know!

[2016-03-08 13:50] RaoOfPhysics commented on #28
@jpata: Excellent! I think we could schedule it in whenever is convenient for you. Let us know a bit in advance when you're going to be at CERN on a Friday. :) Or if you're around on a different date, we could work that out as well.

[2016-03-08 13:59] tpmccauley opened #36 "Interactive graphics in the browser with WebGL (three.js)"
**Date**: 22 April 2016
**Time**: 17:00 CEST (UTC +02)
**Location**: [40/R-C10](https://maps.cern.ch/mapsearch/mapsearch.htm?n=[%2740/R-C10%27])
**Vidyo for remote participants** (just click on the link to proceed): [CERN_OpenScience](http://vidyoportal.cern.ch/flex.html?roomdirect.html&key=Y71x6cfIijd0ZKrxesei6NpQ9Q)
**Session format**: [Work-Along](https://mozillascience.github.io/studyGroupHand

[2016-03-08 14:02] RaoOfPhysics commented on #36
:+1:

[2016-03-08 14:39] lukasheinrich commented on #36
shameless plug on a small project I did with three.js + d3.js
https://github.com/lukasheinrich/dynkinweb
http://physics.nyu.edu/~lh1132/dynkinweb/index.html

[2016-03-08 15:21] RaoOfPhysics commented on #36
@lukasheinrich: Looks cool but I wish I understood it. :D Would you be interested in demoing it after @tpmccauley's lesson (same day)?

[2016-03-08 15:28] lukasheinrich commented on #36
yeah but I'm remote (until summer), so not sure how it would work.

[2016-03-08 15:29] RaoOfPhysics commented on #36
Shouldn't be a problem –– we want to offer remote participants the opportunity of joining lessons. :D

[2016-03-09 10:52] RaoOfPhysics commented on #34
I'm going to be working on [Open Cosmics](https://github.com/OpenCosmics), so if there are any cosmic-ray enthusiasts out there, please come along (pinging @Tontonis).

@tpmccauley: ~~If you could point me to the specification for `.ig` files, please. Thanks!~~ [Found it!](https://cms-outreach.github.io/ispy/)

[2016-03-09 10:56] Tontonis commented on #34
I'll be there with some stuff to do for Open Cosmics. Finally in the right country to make a session!

[2016-03-09 16:40] pseyfert commented on #24
- Name: FlavourTransfer (working title)
- Description: Apply [arXiv:1409.7495](http://arxiv.org/abs/1409.8548) (transfer learning / domain adaptation) to LHC(b) data
- Link to repo(s): [pseyfert/transfer-learning](https://github.com/pseyfert/transfer-learning)
- Skills sought: experience with [BVLC/caffe](https://github.com/BVLC/caffe) or will to reimplement 1409.7495 in a different framework
- Ad

[2016-03-11 15:43] ozel commented on #26
- Who I am: Oliver Keller
- What I do: physics education research at CERN
- What interests me: web-based data analysis and visualisation (jsROOT), learn to do simulations (GEANT4, AllPix), creative coding, interactive media and installations
- My project(s): [iPadPix](https://github.com/ozel/iPadPix), [Microcosm's LED collision animation](https://github.com/ozel/py-artnet), [Making music with yeas

[2016-03-16 12:53] RaoOfPhysics commented on #21
Interesting Notebooks by Peter Norvig: http://norvig.com/ipython/README.html

[2016-04-07 08:58] #34 closed, assigned to nobody

[2016-04-07 12:11] RaoOfPhysics opened #39 "Planning for MozSprint 2016"
**Date**: 8 April 2016
**Time**: 17:00 CEST (UTC +02)
**Location**: CERN R1, in the glass extension commonly known as the "IKEA Section". We should be on the far end, near the glass wall facing the Alps. (Ping us on Gitter if you can't find us.)
**No remote participants**
**Session format**: Discussion / presentations &mdash; bring your proposals for [MozSprint 2016](https://www.mozillascience.org

[2016-04-12 11:12] eamonnmag opened #42 "Principles of Data Visualization"
**Date**: 15 April 2016
**Time**: 17:00 CEST (UTC +02)
**Location**: [40/R-D10](https://maps.cern.ch/mapsearch/mapsearch.htm?n=[%2740/R-D10%27])
**Vidyo for remote participants** (just click on the link to proceed): [CERN_OpenScience](http://vidyoportal.cern.ch/flex.html?roomdirect.html&key=Y71x6cfIijd0ZKrxesei6NpQ9Q)
**Session format**: Talk

---

Lesson guide: @eamonnmag
Lesson materials: https:

[2016-04-12 12:28] #39 closed, assigned to nobody

[2016-04-13 16:15] lukasheinrich commented on #42
great slides.... sad I can't be there. maybe we can have some remote discussion here: @eamonnmag after having worked bit on the HEP domain, do you have some general comments on how visualization is done in HEP right now? I think the vast majority of visualizations are histograms, mostly since we are interested in relative frequencies of events that can be labeled on continuous scales/axes. are the

[2016-04-13 18:12] adavidzh commented on #42
@lukasheinrich to me it's the rainbow palette from hell, err, ROOT.

[2016-04-15 16:12] adavidzh commented on #42
Thanks for the updates addressing color perception. #KillTheRainbow

[2016-04-16 06:14] eamonnmag commented on #42
Some papers on perception being attached:
- [Cleveland and McGill, 1984](https://www.cs.ubc.ca/~tmm/courses/cpsc533c-04-spr/readings/cleveland.pdf)
- [MacKinlay, 1986](http://www2.parc.com/istl/groups/uir/publications/items/UIR-1986-02-Mackinlay-TOG-Automating.pdf)
- [Heer and Bostock, 2010](http://vis.stanford.edu/files/2010-MTurk-CHI.pdf)
- [S.S. Stevens, 1975](https://books.google.ch/books?id=r

[2016-04-18 15:56] RaoOfPhysics commented on #36
@lukasheinrich: We're meeting this Friday. ~~Let me know if you want to do a demo of your work over Vidyo. :)~~ On second thought, given how little time we have, maybe we can do a demo another day, perhaps when you're at CERN?

[2016-04-18 19:05] lukasheinrich commented on #36
what time are you meeting?

[2016-04-18 20:48] rochaporto commented on #24
- Name: CERN Container Service
- Description: Scalable container clusters on the CERN cloud (docker swarm or kubernetes)
- Link to repo(s): https://github.com/openstack/magnum
- Skills needed / sought: python, docker, docker swarm, docker compose, kubernetes
- Additional Info:
  - [cern specific documentation](http://clouddocs.web.cern.ch/clouddocs/containers/index.html)

[2016-04-18 20:50] rochaporto commented on #26
- Who I am: Ricardo Rocha
- What I do: software engineer in the IT department
- What interests me: easy app setup and deployment, visualizations, learning more about end user analysis, app optimization
- My project(s): will add!
- How I can contribute: golang, python, container stuff (docker, swarm, kubernetes), scaling apps
- Where I tweet (if applicable): [@ahcorporto](https://twitter.com/ahcorp

[2016-04-20 13:23] tpmccauley commented on #36
If you are attending and are using your own machine I would recommend seeing if WebGL is supported: http://www.doesmybrowsersupportwebgl.com/

[2016-04-20 13:48] RaoOfPhysics commented on #36
I would just suggest everyone use Firefox, since @tpmccauley's code is tested on the browser. :)

[2016-04-22 11:05] Tontonis commented on #36
Excellent! Will be there!

[2016-04-22 13:27] #42 closed, assigned to eamonnmag

[2016-04-22 13:51] RaoOfPhysics commented on #20
Sooooo, what's the situation with this lesson?

[2016-04-22 15:02] adavidzh commented on #42
Any news on the updated slides (as shown)?

[2016-04-22 15:07] RaoOfPhysics commented on #42
Pinging @eamonnmag. :)

[2016-04-22 15:10] eamonnmag commented on #42
Just updated the link :)

[2016-04-22 15:44] ibab commented on #20
Do you already have someone for May 14th?
I'll be at CERN during that time.
Maybe @lukasheinrich or someone else wants to cooperate on the lesson?

[2016-04-22 15:52] RaoOfPhysics commented on #20
Nothing scheduled. Also, I think the Friday is 13 May. :)

[2016-04-22 15:54] ibab commented on #20
Yes, Friday the 13th :fearful:

[2016-04-22 15:56] RaoOfPhysics commented on #20
Sooooo, shall we schedule this? :D

[2016-04-22 15:59] ibab commented on #20
Let's wait a bit to see if someone wants to help.
I also need to come up with some good ideas on what to show during the session.

[2016-04-22 18:09] RaoOfPhysics commented on #20
Ok. :)

[2016-04-25 15:40] lukasheinrich commented on #20
hi @ibab,

yes I would definitely be interested in helping out. should we try to skype or something in the next week or so?

Cheers,
Lukas

[2016-04-25 16:50] ibab commented on #20
Yes, next week is good!

[2016-05-06 12:56] #36 closed, assigned to tpmccauley

[2016-05-11 09:40] RaoOfPhysics opened #45 "Intro to R"
**Date**: 10 June 2016
**Time**: 17:00 CEST (UTC+02)
**Location**: [40/R-D10](https://maps.cern.ch/mapsearch/mapsearch.htm?n=%5B%2740/R-D10%27%5D)
**Vidyo for remote participants** (just click on the link to proceed): [CERN_OpenScience](http://vidyoportal.cern.ch/flex.html?roomdirect.html&key=Y71x6cfIijd0ZKrxesei6NpQ9Q)
**Session format**: [Work-Along](https://mozillascience.github.io/studyGroupHa

[2016-05-11 09:42] RaoOfPhysics opened #46 "Interactive presentations with R, reveal.js and plotly"
**Date**: 17 February 2017
**Time**: 17:00 CET (UTC+01)
**Location**: [1/1-025](https://maps.cern.ch/mapsearch/mapsearch.htm?n=[%271/1-025%27])
**Vidyo for remote participants** (just click on the link to proceed): [CERN_OpenScience](http://vidyoportal.cern.ch/flex.html?roomdirect.html&key=Y71x6cfIijd0ZKrxesei6NpQ9Q)
**Session format**: [Work-Along](https://mozillascience.github.io/studyGroupHandb

[2016-05-11 09:44] RaoOfPhysics opened #47 "Better posters with Inkscape (bonus: version control!)"
**Date**: TBD
**Time**: TBD
**Location**: TBD
**Vidyo for remote participants** (just click on the link to proceed): [CERN_OpenScience](http://vidyoportal.cern.ch/flex.html?roomdirect.html&key=Y71x6cfIijd0ZKrxesei6NpQ9Q)
**Session format**: [Work-Along](https://mozillascience.github.io/studyGroupHandbook/event-types.html#workalong)

---

Lesson guide: @RaoOfPhysics
Lesson materials: Coming soon
To

[2016-05-11 14:10] RaoOfPhysics commented on #20
Hey @ibab, @lukasheinrich: Just confirming that we're on for this Friday. Please let me know! Thanks. :)

[2016-05-12 13:43] RaoOfPhysics opened #48 "Intro to Docker"
**Date**: 27 May 2016
**Time**: 17:00 CEST (UTC +02)
**Location**: [40/R-D10](https://maps.cern.ch/mapsearch/mapsearch.htm?n=[%2740/R-D10%27])
**Vidyo for remote participants** (just click on the link to proceed): [CERN_OpenScience](http://vidyoportal.cern.ch/flex.html?roomdirect.html&key=Y71x6cfIijd0ZKrxesei6NpQ9Q)
**Session format**: [Work-Along](https://mozillascience.github.io/studyGroupHandbo

[2016-05-13 12:35] RaoOfPhysics opened #49 "Hacky Hour: Finalise MozSprint project list"
**Date**: 13 May 2016
**Time**: 17:00 CEST (UTC +02)
**Location**: CERN R1, in the glass extension commonly known as the "IKEA Section". We should be on the far end, near the glass wall facing the Alps.
**No remote participants**
**Session format**: [Hacky Hour](https://mozillascience.github.io/studyGroupHandbook/event-types.html#hackyhour) &mdash; add your open-science projects to the MozSprint l

[2016-05-13 12:57] spMohanty commented on #24
- Name: **CrowdAI Knowledge Base**
- Description: An open access and community driven collection of resources to help everyone get started on state of art Machine Learning Resources on open problems in Science !!
- Link to repo(s): [https://github.com/crowdAI/Knowledge-Base](https://github.com/crowdAI/Knowledge-Base)
- Skills Sought: Experience with Data Science and/or desire to teach and learn an

[2016-05-24 10:30] RaoOfPhysics commented on #48
Confirming date and time!

[2016-05-30 09:32] clelange commented on #26
Who I am: Clemens Lange
What I do: Physics analysis at CMS, playing around with python and developer boards
What interests me: physics, python, home automation, Arduino, ESP8266, machine learning
My project(s): to be added
How I can contribute: beautifying shell prompts, scripting, Arduino
Where I tweet (if applicable): [@clelange](https://twitter.com/clelange)

[2016-05-30 16:44] RaoOfPhysics opened #52 "MozSprint 2016"
- **Start**: 08:00 CEST (UTC+02), 2 June 2016
- **End**: 18:00 CEST (UTC+02), 3 June 2016
- **Location**: [IdeaSquare](https://maps.cern.ch/mapsearch/mapsearch.htm?n=[%273179/R-E06%27])
- **Vidyo for remote participants**: https://v.mozilla.com/flex.html?roomdirect.html&key=8iragD5qYsKNOv11JC6e4Q4UvW8
- **Registration**: https://ti.to/mozilla-science/gs2016-geneva
- **Indico page**: https://indico

[2016-05-30 17:10] #49 closed, assigned to nobody

[2016-05-30 17:17] #48 closed, assigned to nobody

[2016-06-08 15:51] mickypaganini commented on #48
Where can I find the material that was used during this tutorial?

[2016-06-08 16:35] tiborsimko commented on #48
@mickypaganini The tutorial was an interactive code-along session style, so there is no formal material.  Although part of the tutorial can be followed by reading [my old blog posts on docker](http://tiborsimko.org/tag/docker.html); see references below.

Here is a rough "table of contents" of what we touched:
- Introduction
  - Virtual Machines vs Container technology differences
  - Docker image

[2016-06-08 16:55] tiborsimko commented on #26
- Who I am: Tibor Simko
- What I do: CERN IT, project leader, software developer
- What interests me:
  - knowing myself, knowing universe
  - building things, programming, open science, FOSS, GNU/Linux
- My project(s):
  - [Invenio digital library framework](http://github.com/inveniosoftware/)
  - [CERN Open Data](http://github.com/cernopendata/)
  - [CERN Analysis Preservation](http://github.com

[2016-06-09 13:00] RaoOfPhysics commented on #45
Will conduct this session tomorrow. Have updated the OP to reflect this.

[2016-06-10 15:34] RaoOfPhysics commented on #45
Post-lesson TODO:
- [x] How to use Git with RStudio

[2016-09-29 16:04] #52 closed, assigned to nobody

[2016-09-29 16:10] RaoOfPhysics opened #55 "Hacktoberfest Hacky Hour"
**Date**: 30 September 2016
**Time**: 17:00 CEST (UTC +02)
**Location**: CERN R1, in the glass extension commonly known as the "IKEA Section" or "The Aquarium". We should be on the far end, near the glass wall facing the Alps.
**No remote participants**
**Session format**: [Hacky Hour](https://mozillascience.github.io/studyGroupHandbook/event-types.html#hackyhour) &mdash; Tackle any [hacktoberfest

[2016-09-30 17:02] RaoOfPhysics opened #57 "Writing papers with markdown, GitHub, Authorea and Zenodo"
**Date**: 14 October 2016
**Time**: [17:00 CEST (UTC+02)](http://everytimezone.com/#2016-10-14,180,cn3)
**Location**: [40/R-C10](https://maps.cern.ch/mapsearch/mapsearch.htm?n=[%2740/R-C10%27])
**Vidyo for remote participants** (just click on the link to proceed): [CERN_OpenScience](http://vidyoportal.cern.ch/flex.html?roomdirect.html&key=Y71x6cfIijd0ZKrxesei6NpQ9Q)
**Session format**: [Work-Along

[2016-10-01 10:41] #55 closed, assigned to nobody

[2016-10-07 15:23] RaoOfPhysics opened #58 "Intro to version control, git and GitHub (/GitLab)"
Anyone want to teach this? @ibab, @tpmccauley, @jacquerie?

[2016-10-07 15:37] RaoOfPhysics commented on #58
Looks like most people are familiar with git and GitHub (#22), so this may not be worth doing.

[2016-10-07 15:46] tpmccauley commented on #58
I would not consider myself qualified. I am interested in attending to learn more though!

[2016-10-07 15:54] RaoOfPhysics commented on #58
Paging @tiborsimko!

[2016-10-07 16:14] adavidzh commented on #58
I think a pedestrian guide to CI at CERN might be interesting. I.e., not just version control.

[2016-10-07 16:25] ibab commented on #58
I'm moving to CERN next week, so I'll be able to do these kinds of sessions in the future :)

If everyone is already familiar with git, I could do some semi-advanced things like `add -p`, `rebase -i` and so on.
I could also show how to use the `hub` command line tool that allows you to do some Github things using a `git`-like command line interface.
This greatly speeds up things like checking out

[2016-10-08 17:46] RaoOfPhysics commented on #58
@adavidzh: Can you create a separate issue for CI?

@ibab: Yay! See you at CERN next week! I think a semi-advanced lesson would be very welcome. :) Is next week to soon?

[2016-10-09 08:40] adavidzh opened #59 "Commit and forget - intro to CI"
How many times did you check out someone's branch from a pull request to then try things for yourself before performing the merge? Would it not be better if that test could be packaged and re-run for every future pull request automatically?

Or imagine you change your analysis code and everything is re-run from where it is needed and the paper draft is updated automatically?

I know that the tools

[2016-10-09 08:59] RaoOfPhysics commented on #59
@adavidzh: You had better attend the lesson in person! None of this "I'm in the room next door but connecting via Vidyo" nonsense. :P

[2016-10-09 12:12] adavidzh commented on #59
@RaoOfPhysics: when I attended on Vidyo, I was not even on the CERN site.
In any case, perhaps we can have a vote on whether this is interesting for others as well. If not, oh well.

[2016-10-13 13:13] pherterich commented on #57
If I don't get my Vidyo working, could you maybe record it so I can catch up later from a proper computer that actually let's me install useful stuff?

[2016-10-13 13:14] RaoOfPhysics commented on #57
@pherterich: Not sure how to record with Vidyo, but I can look into it. Although, you have 24+ hours! Sort out your Vidyo. ;)

[2016-10-13 13:20] pherterich commented on #57
I don't have admin rights to my work computer. I'm not able to do s**\* :unamused:

[2016-10-13 13:20] RaoOfPhysics commented on #57
Boo. Are you allowed to carry a laptop to work? I'll look into recording options.

[2016-10-13 13:30] pherterich commented on #57
Not necessary, after a fight with IT because they're not able, I got it fixed :smile: !!!!

[2016-10-14 15:04] pherterich commented on #57
Vidyo plug in doesn't work in any of my 3 browsers :unamused: Sorry, would have loved to join you guys.

[2016-10-15 11:28] RaoOfPhysics opened #61 "Authoring a paper with Rmarkdown and Bookdown"
Date: TBD
Guide: @andrewjohnlowe

[2016-10-15 11:28] RaoOfPhysics opened #62 "Using R for HEP analysis"
Date: TBD
Guide: @andrewjohnlowe

[2016-10-20 11:15] RaoOfPhysics commented on #58
@ibab: Up for this tomorrow? :D

[2016-10-20 11:52] ibab commented on #58
Nope, can't make it this week. :(

On Thu, Oct 20, 2016, 13:15 RaoOfPhysics notifications@github.com wrote:

[2016-10-20 12:01] RaoOfPhysics commented on #58
@ibab: No worries. Let me know what day/time suits you. It doesn't have to be on a Friday evening. I think @stklik wants to attend https://github.com/CERNStudyGroup/cernstudygroup.github.io/issues/59 but can't make Fridays.

[2016-10-20 12:08] stklik commented on #58
@RaoOfPhysics basically I'm out _every_ Friday... (that's the day that I'm at uni).

@ibab Not sure I've anything more to add, but I've done some playing around with Docker + Gitlab-CI + CERN Gitlab-CI auto building of Docker images + ... (before docker.cern.ch was deprecated)

[2016-11-07 12:45] RaoOfPhysics opened #63 "Intro to SketchUp"
**Date**: 3 February 2017
**Time**: 17:00 CET (UTC +01)
**Location**: [1/1-025](https://maps.cern.ch/mapsearch/mapsearch.htm?n=[%271/1-025%27])
**Vidyo for remote participants** (just click on the link to proceed): [CERN_OpenScience](http://vidyoportal.cern.ch/flex.html?roomdirect.html&key=Y71x6cfIijd0ZKrxesei6NpQ9Q)
**Session format**: [Work-Along](https://mozillascience.github.io/studyGroupHandb

[2016-11-07 14:44] TaiSakuma commented on #63
Yes, I can do that.
I thought about the colouring books as well.

[2016-11-08 08:03] hepstr commented on #14
@cjhaster (postdoc with LIGO) might also be interested in providing some (remote) help, time permitting.

[2016-12-01 21:46] cjhaster commented on #14
Hi everyone, I realised I never said anything about this but as Stefan mentioned I'd be happy to help with this.
I'm primarily working in the parameter estimation group (within the larger compact binary coalescence group) of LIGO, so my day to day work includes passing any interesting data through our (very nice in my opinion) Bayesian parameter estimation pipeline, and especially making this pipe

[2016-12-08 17:27] #45 closed, assigned to RaoOfPhysics

[2016-12-08 17:27] #57 closed, assigned to RaoOfPhysics

[2016-12-14 17:56] tiborsimko commented on #58
Sorry @RaoOfPhysics I didn't notice your ping before... busy times.  Anyway I think @ibab volunteered to take care of this intro now.

Speaking of somewhat more advaned usage of git, it may be good to cover also efficient integration with code editors (e.g. Emacs [Magit](https://magit.vc/)) and how it can improve interactive rebasing, blaming, bisecting, etc.

Touching various merging strategies a

[2016-12-15 10:43] RaoOfPhysics commented on #58
@tiborsimko: I believe @ibab is off to greener pastures soon! Not sure when, though. If he's not around, would you be up for this? We'll have to do it in the new year, I presume, and not on a Friday (for @stklik).

[2016-12-15 13:38] riga commented on #24
- Name: *tfdeploy*
- Description: Tool to deploy tensorflow DNN graphs for fast evaluation and export to tensorflow-less environments running numpy
- Link to repo(s): https://github.com/riga/tfdeploy
- Skills needed / sought: Experience with Deep learning techniques and performant numpy/scipy.

---

- Name: *luigi analysis workflow*
- Description: High-level extension layer for spotify's Luigi to

[2016-12-15 14:10] JoeriHermans commented on #24
- Name: *Distributed Keras (dist-keras)*
- Description: Employing Distributed Optimization algorithms and Apache Spark to train neural networks (Keras models).
- Link to repo(s): https://github.com/cerndb/dist-keras
- Skills needed / sought: Use-cases, "big" (physics) datasets, and models.

[2017-02-03 15:35] TaiSakuma commented on #63
Slides: https://www.dropbox.com/s/jsdrillekuy618u/tai_20170203_CERNStudyGroup_SketchUp.pdf?dl=0
A SketchUp model: https://www.dropbox.com/s/shaocioveasvdmh/CERNStudyGroup_20170203_01.skp?dl=0

To download SketchUp: http://www.sketchup.com/

[2017-02-14 09:53] suenjedt commented on #46
Booked Room 1-1-25 for 5PM, 17.02.2017

[2017-02-14 18:39] RaoOfPhysics commented on #46
OP updated with some deets.